.btn {
  display: inline-block;
  background-color: #212121;
  color: #fff;
  font-size: 1.1875rem;
  padding: 1em 2em 1em;
  font-weight: 500;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color:$mainGreen;
    color: $mainDark;
  }

  &--submit {
    padding: 15px 20px;
    color: #dcdcdc;
  }
}
