.feature {
  position: relative;
  height: 304px;
  color: #fff;
  text-align: center;

  &--bg-green {
    background-color: rgba(47, 171, 104, .9);
  }

  &--bg-light-green {
    background-color: rgba(35, 172, 175, .9);
  }

  &--bg-blue {
    background-color: rgba(34, 151, 178, .9);
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__caption {
    margin: .5em 0 0;
    text-transform: lowercase;
    font-size: 2.125rem;
    font-weight: normal;
  }

  &__rollover {
    position: absolute;
    left: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background: rgba(51,51,51,.95);

    img {
      position: absolute;
      left: 10%;
      top: 45px;

      @mixin atSmall {
        left: 25%;
      }

      @mixin atMedium {
        left: 20px;
      }
    }

    ul {
      position: absolute;
      left: 30%;
      top: 50px;
      max-width: 250px;
      padding-right: 20px;
      text-align: left;

      @mixin atSmall {
        left: 50%;
        transform: translateX(-50%);
      }

      @mixin atMedium {
        left: 30%;
        transform: translateX(0);
      }
    }

    li {
      color: #fff;
      padding-left: 1em;
      text-indent: -.7em;
      margin-bottom: 1em;
      font-weight: 300;
    }

    li:before {
      content: "• "
    }

    ul.green-disc li:before {
      color: $mainGreen;
    }

    ul.light-green-disc li:before{
      color: $mainLightGreen;
    }

    ul.blue-disc li:before {
      color: $mainBlue;
    }
  }

  &__cta {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__cta--green {
    color: $mainGreen;
  }

  &__cta--light-green {
    color: $mainLightGreen;
  }

  &__cta--blue {
    color: $mainBlue;
  }
}

/* Hover states */
.feature:hover,
.feature:focus {
  > .feature__rollover {
    opacity: 1;
    z-index: 2;
  }
}

.feature__cta:hover,
.feature__cta:focus {
  color: white;
}
