.headline {
  font-size: 2rem;
  color: $mainDark;
  font-weight: normal;
  margin-bottom: 1em;

  &--middle {
    font-size: 1.625rem;
    font-weight: normal;
  }

  &--small {
    font-size: 1rem;
    font-weight: 300;
  }

  &--smallest {
    font-size: 1rem;
  }

  &--bolder {
    font-weight: 500;
  }

  &--dark {
    color: $mainDark;
  }

  &--white {
    color: #fff;
  }

  &--lowercase {
    text-transform: lowercase;
  }

  &--has-triple-t-margin {
    margin-top: 3em;
  }

  &--double-b-margin {
    margin-bottom: 2em;
  }

  &--triple-b-margin {
    margin-bottom: 3em;
  }

  &--narrow {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;

    @mixin atMedium {
      max-width: 500px;
    }
  }

  &--wide {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;

    @mixin atMedium {
      max-width: 750px;
    }
  }

  &--centered {
    text-align: center;
  }
}
