.large-hero {
  position: relative;

  &__image {
    display: block;
  }

  &__text-content {
    position: relative;
    width: 100%;
    top: auto;
    left: auto;
    z-index: 1;

    @mixin atMedium {
      position: absolute;
      top: 25%;
    }
  }

  &__title {
    font-weight: normal;
    font-size: 1.2rem;
    width: 75%;
    margin: 0 0 2.8em;
    color: $mainDark;
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translateX(-50%);

    @mixin atSmall {
      font-size: 2.5rem;
      top: -20%;
    }

    @mixin atMedium {
      font-size: 2.5rem;
      position: static;
      top: auto;
      left: auto;
      transform: translateX(0);
    }
  }

  &__scroll-link {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, 50%);
  }
}
