.page-section {
  padding: 1.2rem 0;
  position: relative;

  @mixin atMedium {
    padding: 4.5rem 0;
  }

  &--has-small-padding {
    padding: 1.2rem 0;
  }

  &--has-b-padding {
    padding-bottom: 1.2rem;

    @mixin atMedium {
      padding-bottom: 4.5rem;
    }
  }

  &--has-double-b-padding {
    padding-bottom: 2.4rem;

    @mixin atMedium {
      padding-bottom: 9rem;
    }
  }

  &--has-double-t-padding {
    padding-top: 2.4rem;

    @mixin atMedium {
      padding-top: 9rem;
    }
  }

  &--has-no-paddings {
    padding: 0;
  }

  &--has-top-padding-until-medium {
    padding-top: 9rem;
    @mixin atMedium {
      padding-top: 4.5rem;
    }
  }

  &--has-side-padding-until-medium {
    padding-left: 15px;
    padding-right: 15px;
    @mixin atMedium {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--grey {
    background-color: #fafafb;
  }
}
