.page-section {
  padding: 1.2rem 0;
  position: relative;

  @mixin atMedium {
    padding: 4.5rem 0;
  }

  &--has-small-padding {
    padding: 1.2rem 0;
  }

  &--has-b-padding {
    padding-bottom: 1.2rem;

    @mixin atMedium {
      padding-bottom: 4.5rem;
    }
  }

  &--has-double-b-padding {
    padding-bottom: 2.4rem;

    @mixin atMedium {
      padding-bottom: 9rem;
    }
  }

  &--has-no-paddings {
    padding: 0;
  }

  &--grey {
    background-color: #fafafb;
  }
}
