.primary-nav {
  padding-top: 0;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    display: inline-block;;
    padding-right: 7px;
    @mixin atMedium {
      float: left;
      display: block;
      padding-right: 20px;
    }
  }

  li:last-child {
    padding-right: 0;
  }

  a {
    padding: 5px 8px;
    display: block;
    color: $mainDark;
    font-weight: 500;
    text-transform: uppercase;
    @mixin atMedium {
      padding: 12px 0;
      font-size: .6875rem;

      &.is-current-link {
        color: $mainGreen;
      }
    }
  }

  a.languagepicker {
    display: inline-block;
    margin-right: 5px;
    padding: 10px 0;
  }

  a.nonactive img {
    filter: grayscale(100%);
  }

  img {
    width: 24px;
    height: auto;
  }

  &--pull-right {
    @mixin atMedium {
      float: right;
    }
  }
}
