.row {

  @mixin clearfix;

  &--gutters-small {
    margin-right: -30px;
  }

  &--gutters-small > div {
    padding-right: 30px;
  }

  &__b-margin {
    margin-bottom: 30px;
  }

  &__double-b-margin {
    margin-bottom: 60px;
  }

  @mixin atLarge {
    &__large-4 {
      float: left;
      width: 33.33%;
    }

    &__large-6 {
      float: left;
      width: 50%;
    }
  }

  /* Begin Equal Height Rules */
  &--equal-height-at-medium {
    @mixin atMedium {
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }
  }

  &--equal-height-at-large {
    @mixin atLarge {
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }
  }
}
