.site-footer {
  background-color: #212121;
  color: #fff;

  .copy {
    font-size: 0.875rem;
    color: #dcdcdc;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;

    @mixin atMedium {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
  }

  .slogan {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;

    @mixin atMedium {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
  }
}
