/* Don't edit modules/_sprite directly as it is generated automatically by Gulp.
Instead edit gulp/templates/sprite */

    .icon {
      background-image: url('../../assets/images/sprites/sprite-5314e3b4.svg');
    }

    .no-svg .icon {
      background-image: url('../../assets/images/sprites/sprite-5314e3b4.png');
    }

  .icon--next {
    width: 49px;
    height: 49px;
    background-position: 0 0;
  }

  .icon--prev {
    width: 49px;
    height: 49px;
    background-position: 100% 0;
  }
